In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_excel('spacestri.xlsx')
print(df.head())

In [ ]:
import pandas as pd

# Charger le fichier Excel
file_path = "fichier_trad.xlsx"
df = pd.read_excel(file_path)
print(df.head())

# Convertir le DataFrame en Markdown
markdown_table = df.to_markdown(index=False)

# Enregistrer la sortie dans un fichier Markdown
output_path = "fichier_trad_output.md"
with open(output_path, "w", encoding="utf-8") as f:
    f.write(markdown_table)

print(f"Tableau enregistré dans le fichier : {output_path}")

     id             nom  date_ouverture  date_fermeture  \
0  71.0         La loge          2012.0             NaN
1   8.0  Jeune création          2006.0             NaN
2  72.0       The ister          2011.0             NaN
3  73.0         Komplot          2002.0             NaN
4  74.0         Abilene          2011.0             NaN

                  website                       email  \
0          www.la-loge.be             info@la-loge.be
1                     NaN     jeunecreation@gmail.com
2         www.theister.be            info@theister.be
3            www.kmplt.be               info@kmplt.be
4  www.abilenegallery.com  contact@abilenegallery.com

                              adresse horaires presentation responsables  ...  \
0  Kluisstraat - rue de l’Ermitage 86      NaN          NaN          NaN  ...
1                       24 rue Berthe      NaN          NaN          NaN  ...
2                rue Vandenbranden 42      NaN          NaN          NaN  ...
3           295 Avenue Van Volxemlaan      NaN          NaN          NaN  ...
4              Rue de la Victoire 163      NaN          NaN          NaN  ...

  longitude                                   adresse_complete codepostal  \
0  4.365647  Kluisstraat - rue de l’Ermitage 86, 1050, Brux...     1050.0
1  2.339779                24 rue Berthe, 75018, Paris, France    75018.0
2  4.340663    rue Vandenbranden 42, 1000, Bruxelles, Belgique     1000.0
3  4.325936  295 Avenue Van Volxemlaan, 1190, Bruxelles, Be...     1190.0
4  4.352473  Rue de la Victoire 163, 1060, Bruxelles, Belgique     1060.0

  telephone visite user_id question1 réponse1 question2 réponse2
0       NaN    NaN     NaN       NaN      NaN       NaN      NaN
1       NaN    NaN     1.0       NaN      NaN       NaN      NaN
2       NaN    NaN     NaN       NaN      NaN       NaN      NaN
3       NaN    NaN     NaN       NaN      NaN       NaN      NaN
4       NaN    NaN     NaN       NaN      NaN       NaN      NaN

[5 rows x 40 columns]

AttributeError: 'DataFrame' object has no attribute 'colums'